.login-page-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #c5d7e7;

    .login-page {
        margin: auto;
        width: 100%;
        max-width: 500px;
        padding: 40px;
        background-color: #ffffff;
        border-radius: 5px;
        box-shadow: 0 0 1px rgba(0, 0, 0, .125), 0 1px 10px rgba(0, 0, 0, .2);

        .login-text {
            text-align: center;
            font-size: 16px;
        }

        .tabs-wrapper {
            margin-top: 20px;
            border: solid 1px #b9d5ed;
            border-radius: 32px;
            padding: 8px;
            display: flex;

            .tab-item {
                flex: 1;
                height: 42px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 16px;
                font-weight: bold;
                color: #000000;
                text-decoration: none;

                &.active {
                    background-color: #85cce3;
                    border-radius: 32px;
                }
            }
        }

        .form-wrapper {
            padding-top: 24px;

            .row-wrapper {
                padding-top: 16px;

                &:first-child {
                    padding-top: 0px;
                }
            }

            .button-wrapper {
                padding-top: 20px;
                text-align: center;

                .btn-general {
                    font-size: 18px;
                }

                .bottom-link {
                    padding-top: 20px;

                    a {
                        font-size: 16px;
                        color: #091239;
                        text-decoration: underline;
                    }

                }
            }

            .error-message {
                text-align: right;
                padding-top: 5px;
                padding-right: 6px;
                font-weight: bold;
                font-size: 14px;
                color: #ff0000;
            }

        }

    }

}

@media screen and (max-width: 600px) {
    .login-page-wrapper {
        .login-page {
            width: auto;
            margin: 0px 20px;
        }
    }
}