.home-page-wrapper {
    padding: 40px 20px;

    .home-page {
        margin: auto;
        width: 100%;
        max-width: 1200px;

        .date-wrapper {
            margin-top: 20px;
            background-color: #ffffff;
            border-radius: 10px;
            box-shadow: 0 0 1px rgba(0, 0, 0, .125), 0 1px 10px rgba(0, 0, 0, .2);

            .date-header {
                display: flex;
                align-items: center;
                height: 60px;
                padding: 0px 20px;
                background-color: #faebd7;

                .date {
                    font-size: 16px;
                    font-weight: bold;

                    &::before {
                        content: "";
                        display: inline-block;
                        vertical-align: middle;
                        width: 40px;
                        height: 40px;
                        background: url(./images/calendar-icon.png) no-repeat;
                        background-size: 40px 40px;
                        margin-left: 10px;
                    }
                }
            }

            .appointments {

                .appointment-item {
                    height: 60px;
                    border-top: solid 1px #cdcdcd;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 0px 20px;

                    .time {
                        &::before {
                            content: "";
                            display: inline-block;
                            vertical-align: middle;
                            width: 24px;
                            height: 24px;
                            background: url(./images/clock-icon.png) no-repeat;
                            background-size: 24px 24px;
                            margin-left: 10px;
                        }
                    }

                    .name {}

                    .dog-type {}
                }
            }
        }
    }
}